<ion-view view-title="Sincronizar">
  <ion-content class="padding">
    <!-- <div class="panel panel-form">
      <div class="panel-heading">
          Efetuar login
          <input type="hidden" name="pergunta_id" value="1" />
      </div>
      <div class="panel-body">
          	<div class="list list-inset">
				<label class="item item-input">
					<input type="text" placeholder="usuario">
				</label>
				<label class="item item-input">
					<input type="text" placeholder="senha">
				</label>
			</div>
			<button class="button button-full button-positive">
			  Login
			</button>
      </div>
      <div class="panel-footer">
      </div>
    </div> -->
    <h3>
    	Sincronização realizada com sucesso, suas respostas foram enviadas para o sistema.
    	<br />
    	<br />
    	3 novas perguntas foram carregadas para o aplicativo!
    </h3>
  </ion-content>
</ion-view>
